.navbar{
	margin-top: 0;
	margin-bottom: 0;
}
#head-bar{
	background-color: #FFD458;
	height: 100%;
	padding-right: 10px;
	padding-left: 10px;
}

.navbar-nav li {
 line-height: 56px;
 font-size: 19px;
}

#header-logo{
	font-size: 60px;
  color: #F0F0F0;
}


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #FFD458;
  padding-left: 10px;
}

.index-background{
	
	height: 80%;
}

.login-button-wrapper{
	height: 100%;
}

.login-button-wrapper .btn-primary{
	position: relative;
	top: 50%;
	height: 70px;
	font-size: 25px;
	width: 200px;
	margin-top: -35px;
	border-radius: 10px;
}

#student-login{
	background-color: #AA62B2;
	border-color: #AA62B2;
}

#mentor-login{
	background-color: #05B285;
	border-color: #05B285;
}

#index-content{
	height: 481px;
	background-image: url("image/index_teacher_students.jpg");
	opacity: 0.7;
	background-repeat: no-repeat;
	background-size: cover;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin {
  margin-bottom: 10px;
}
.form-signin{
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.portal{
  height: 481px;
  background-color: #F0F0F0;
}
.sidenav{
  height: 100%;
  padding: 0;
}


.portal-nav-btn{
  margin-left: 0;
  color: #F0F0F0;
  border: 2px solid grey;
  background-color: #AA62B2;
  text-align: center;
  font-size: 44px;
  padding-top: 15px;
  height: 96px;
  -webkit-transition: background-color 0.5s;
}

.portal-nav-btn:hover{
  background-color: #05B285;
}

.active{
  background-color: #05B285;
  border-right: 0px;
}

.profile-pic-holder{
  height: 300px;
  background-image: url("image/profile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid #FFD458;
  border-radius: 5px;
}

.profile-header{
  height: 96px;
  line-height: 96px;
  border-bottom: 1px lightgray solid;
  margin-bottom: 5px;
}

.profile-name{
  font-size: 50px;
  color: #FFD458;
}

.hide{
  display: none;
}

.profile-username{
  float: right;
  margin-top: 43px;
  color: grey;
}

.panel{
  font:sans-serif;
}
.panel-body-homepage{
  font-weight: normal;
  font-size: 30px;
  color: #FFD458;
  line-height: 50px;
}
.panel-body-chat-sidebar{
  font-weight: normal;
  color: #FFD458;
}
#panel-holder{
  height: 300px;
}

#question{
  resize: none;
  height: 200px;
  font-size: 25px;
}

label{
  font-size: 30px;
  color: #FFD458;
  display: block;
}

#tags{
  min-width: 100%;
}

.bootstrap-tagsinput .tag{
  color: #F0F0F0;
}

.label-info{
  background-color: #FFD458;
}

#question-submit{
  background-color: #FFD458;
  border-color: #FFD458;
  color: #F0F0F0;
  width: 180px;
  height: 47px;
  font-size: 20px;
}
#panel-holder-label{
  color:#05B285;
}

#question-alert{
  margin-top: 3px;
}

.chat-room{
  height: 440px;
  background-color: white;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
#chat-sidebar{
  height: 440px;
  background-color: white;
  margin-top: 10px;
  padding: 10px;
}
#chat-thumbs{
  min-height: 400px;
}
.messages{
  height: 380px;
}
.message-input{
  height: 50px;
  line-height: 50px;
  position: relative;
  bottom: 0;
  border-top: 1px solid #F0F0F0;
}

#message{
  width: 380px;
}
#message-send{
  margin-top: 2px;
}

.panel-default:hover{
  border: 2px solid #FFD458;
}
.panel-default{
  border-width: 2px;
  -webkit-transition: border-color 0.5s;
}
