.navbar{
	margin-top: 0;
	margin-bottom: 0;
}
#head-bar{
	background-color: #FFD458;
	height: 100%;
	padding-right: 10px;
	padding-left: 10px;
}

.navbar-nav li {
 line-height: 50px;
 font-size: 20px;
}

#header-logo{
	font-size: 50px;
}


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #FFD458;
  padding-left: 10px;
}

.index-background{
	
	height: 80%;
}

.login-button-wrapper{
	height: 100%;
}

.login-button-wrapper .btn-primary{
	position: relative;
	top: 50%;
	height: 70px;
	font-size: 25px;
	width: 200px;
	margin-top: -35px;
	border-radius: 10px;
}

#student-login{
	background-color: #AA62B2;
	border-color: #AA62B2;
}

#mentor-login{
	background-color: #05B285;
	border-color: #05B285;
}

#index-content{
	height: 491px;
	background-image: url("image/index_teacher_students.jpg");
	opacity: 0.7;
	background-repeat: no-repeat;
	background-size: cover;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin {
  margin-bottom: 10px;
}
.form-signin{
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}