.navbar{
	margin-top: 0;
	margin-bottom: 0;
}

#head-bar{
	background-color: #AA3939;
	height: 100%;
	padding-right: 5%;
	padding-left: 5%;

  padding-top: 1%;
  padding-bottom: 1%
}

.navbar-nav li {
 line-height: 56px;
 font-size: 19px;
 color: #F0F0F0;
 font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#header-logo{
	font-size: 60px;
  color: #F0F0F0;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #AA3939;
  padding-left: 10px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #F0F0F0;
  font-weight: bold;
}

.index-background{
	height: 80%;
}

.login-button-wrapper{
	height: 100%;
}

.login-button-wrapper .btn-primary{
	position: relative;
	top: 50%;
	height: 65px;
	font-size: 20px;
	width: 200px;
	margin-top: -40px;
	border-radius: 5px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#student-login{
	background-color: #015252;
	border-color: #14384F;
}

#mentor-login{
	background-color: #51741A;
	border-color: #2D4506;
}

#index-content{
	height: 494px;
	background-image: url("image/index_teacher_students.jpg");
	opacity: 0.7;
	background-repeat: no-repeat;
	background-size: cover;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin {
  margin-bottom: 10px;
}
.form-signin{
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  margin: 3px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.portal{
  height: 494px;
  background-color: #F0F0F0;
}
.sidenav{
  height: 100%;
  padding: 0;
}


.portal-nav-btn{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin-left: 0;
  color: #F0F0F0;
  border: 2px solid white;
  background-color: #354F00;
  text-align: center;
  font-size: 40px;
  padding-top: 15px;
  height: 98px;
  -webkit-transition: background-color 0.5s;
}

.portal-nav-btn:hover{
  background-color: #A5C663;
}

.active{
  color: black;
  background-color: #D4EE9F;
  border-right: 0px;
}

.profile-pic-holder{
  height: 300px;
  background-image: url("image/profile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 4px solid #51741A;
  border-radius: 5px;
}

.profile-header{
  height: 96px;
  line-height: 96px;
  border-bottom: 1px lightgray solid;
  margin-bottom: 5px;
}

#col-xs-3 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.profile-name{
  font-size: 50px;
  color: #000000;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.hide{
  display: none;
}

.profile-username{
  float: right;
  margin-top: 43px;
  color: grey;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.panel{
  font-family: sans-serif;
}
.panel-body-homepage{
  font-weight: bold;
  font-size: 24px;
  color: #880101;
  line-height: 50px;
}
.panel-body-chat-sidebar{
  font-weight: normal;
  color: #880101;
}
#panel-holder{
  height: 300px;
}

#question{
  resize: none;
  height: 200px;
  font-size: 20px;
}

label{
  font-size: 30px;
  color: #557F01;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

#tags{
  min-width: 100%;
}

.bootstrap-tagsinput .tag{
  color: #F0F0F0;
  resize: none;
}

.label-info{
  background-color: #880101;
}

#question-submit{
  background-color: #880101;
  border-color: #CC8686;
  color: #EEEAEA;
  width: 180px;
  height: 47px;
  font-size: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#panel-holder-label{
  color:#557F01;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#question-alert{
  margin-top: 3px;
}

#chat-room{
  height: 440px;
  background-color: white;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
#chat-sidebar{
  height: 440px;
  background-color: white;
  margin-top: 10px;
  padding: 10px;
}
#chat-thumbs{
  min-height: 400px;
}
#dank{
  font-size: 12px;
  padding-top: 10px;
}
#dank2{
  font-size: 12px;
  padding-top: 20px;
}
#settings_headers{
    font-size: 16px;

}
#nog{
  padding-top: 20px;
}
.message{
  min-width: 200px;
  max-width: 330px;
  font-size: 15px;
  line-height: 30px;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  font-weight: normal;
}
.message-user{
  background-color: #015252;
  color: #EEEAEA;
  float: right;
}
.message-other{
  background-color: #EEEAEA;
  color: #015252;
  float: left;
}
.messages{
  height: 380px;
}
.message-input{
  height: 50px;
  line-height: 50px;
  position: relative;
  bottom: 0;
  border-top: 1px solid #F0F0F0;
  padding-top: 10px;
}



#message-input{
  width: 453px;
  resize: none;
}
#message-send{
  margin-top: 2px;
  background-color: #880101;
  color: #F0F0F0;
}

.panel-default:hover{
  border: 2px solid #CC8686;
}
.panel-default{
  border-width: 2px;
  -webkit-transition: border-color 0.5s;
}
.panel-default.current-chat{
  border: 2px solid #CC8686;
}

.q-selection-header{
  border-bottom: 1px solid #EEEAEA;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #880101;
  font-size: 44px;
}

#available-questions{
  min-height: 390px;
  height: 440px;
}

#logout-btn{
  color: #F0F0F0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.btn-success{
  background-color: #557F01;
  border-color: #557F01;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.btn-danger{
  background-color: #880101;
  border-color: #880101;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#signin-heading{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
